* {
    font-family: robotto;
}
body, html {
    height: 100%;
    width: 100%;
}
body,
p,
html,
ul,
li {
    margin: 0px;
    padding: 0px;
}
ul {
    display: flex;
    list-style: none;
    gap: 10px;

}
li, a {
    text-decoration: none;
    color: aliceblue;
    list-style: none;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 0px 15px;
}
.header,
.footer {
    display:flex;
    align-items: center;
    background-color: #1F2937;
    color: aliceblue;
    flex: 0;
}

.content {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}
.footer {
    
    width: 100%;
    height: 70px;
    flex: 0 1 auto;
    justify-content: center;
}

#calcContainer{
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 500px;
    background-color: black;
    border-radius: 15px;
}
#screen {
    background-color: azure;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex: 2;
    gap: 5px;
    flex-wrap: wrap;
}
.onScreen {
    font-size: x-large;
    flex-wrap: wrap;
}
.calcBottom {
    flex: 6;
    display: flex;
    justify-content: center;
}
.calcLeft {
    display: flex;
    align-items: flex-end;
    margin-bottom: 23px;
}
#calcRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
}

#buttonList{
    flex-wrap: wrap;
    width: 230px;
    gap: 20px;
    row-gap: 30px;

    
}

button {
    width: 60px;
    height: 60px;
}

