* {
    font-family: robotto;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body,
p,
html,
ul,
li {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
}

.footer {
    display:flex;
    align-items: center;
    color: aliceblue;
}

.content {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: flex-start;
}


#calcContainer {

    background:#384d6a;
    border-radius: 15px;
    border: #141a22;
    border-style: solid;
    padding: 20px;
    display: grid;
    scale: (.7);
    
}
#screen {
    padding: 0px 5px;
    background-color: aliceblue;
    border-radius: 5px;   
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

#calcGridContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5, 80px) minmax(80px, auto);
    gap: 10px;
}

.spanning {
    grid-column: span 2;
}

button {
    border-radius: 25px;
    border: 2px;
    box-shadow: 0 2px 2px #1F2937;
    font-size: 1.3rem;
}

.operator,
.colored {
    background-color: rgb(157, 161, 193);
}
#numberA{
    flex: 2;
    margin-top: 5px;
    font-size: 1.1rem;
    color: grey;
}

#numberB {
    flex: 3;
    font-size: 1.3rem;
}

.page{
    font-size: 20px;
}